/shop-spring/HELP.md
/shop-spring/target/
/shop-spring/src/main/resources/static/
!/shop_spring/.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
/shop-spring/.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
/shop-admin-react/.vscode/

bin/
build/
.settings/
.gradle/
.classpath
.project
.git/
.svn*
.settings/
catalina*
/logs/

# See https://help.github.com/ignore-files/ for more about ignoring files.

# ide config
/shop-admin-react/.idea

# dependencies
/shop-admin-react/node_modules

# testing
/shop-admin-react/coverage

# production
/shop-admin-react/build
/shop-admin-react/dist

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/shop-admin-react/src/pages/page-routes.js
/shop-admin-react/src/models/all-models.js
/shop-admin-react/suixingpay-fe/
/shop-admin-react/server/
/shop-admin-react/docs/_book

